<h1>New Article</h1>


<%= form_with scope: :reminder, url: reminders_path, local: true do |form| %>
  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>

  <p>
    <%= form.label :time %><br>
    <%= form.datetime_select :time %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', reminders_path %>
